body{
    background-color:white;
    margin: 30px;
	padding: 50px;
}
.header{
	background-image: url("./images/banner.png");
	background-color: #0a0213;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	padding:50px;
	height: 500px;
	width: 95%;
	text-align: center;

}
.topbar{
	display: flex;
}
.webside-title{
	flex: 30%;
}
.manubar{
	flex: 60%;
}
.bus-icon{
	flex: 10%;
}
.manubar ul{
	list-style-type: none;
}
.manubar li{
	float: left;
	padding: 20px;
}
.button {
	background-color:#cce8c8;
	border-radius: 5px;
	border: 2px solid green;
	padding: 10px 5px;
	text-align: center;
	font-size: 20px;

}
.webside-title h1{
	font-size: 30px;

}
.px-9{
	font-size: 60px;
} 
.text-base{
	color: white;
}
.text-color-green{
	color: green;
}
.px-4{
	font-size: 20px;
}
.webside-name{
	padding-left: 15px;
}
.btn{
	padding: 20px 20px;
	border: 2px solid green;
	border-radius: 10px;

}
.bg-green{
	background-color: green;
}
.px-6{
	font-size: 30px;

}
.mt-10{
	margin:10px;
}
.flex-style{
	display: flex;
}
.flex-33{
	flex: 33.33;
}
.left-ime{
	float: left;
	
}
.border{
border: 1px solid green;
}
.rounded-border{
	border-radius: 10px;
}
.margin-x-10{
	margin: 20px 40px;
}
.padding-x-10{
	padding: 20px;
}
.text-center{
text-align: center;
}
.flex-left-15-off{
	flex:50%;
}
.flex-right-20-off{
	flex:50%;
}
.bg-yellow{
background: rgb(246, 246, 26);
}
.off-price-left{
	flex: 60% ;
}
.off-price-right{
	flex: 40%;
}
.rounded-border-20{
	border-radius: 20px;
}
.bg-maganda{
	background-color: sandybrown;
}
 


.perces-ticket{
    background-color: #d9dbd3;
    padding:20px;
    border-radius: 15px;
	margin-top: 30px;
}
.text-center{
    text-align: center;
}
.perces-ticket-flex, .gp-top, .gp-body-line{
    display: flex;
    margin:20px 0;
}
.perces-ticket-left{
    flex: 80%;
    padding:20px;
}
.perces-ticket-right{
    flex: 20%;
    border-left:5px dashed #0c8c00;
    padding:20px;
}

.gp-top-left, .gp-body-left{
    flex:70%;
}

.gp-top-right, .gp-body-left{
    flex:30%;
}
.gp-body{
    background-color: #cccccc;
    padding:20px;
    border-radius: 15px;
}

.gp-body-line{
    border-bottom: 2px dashed #a09a9a;
    padding:15px 0px;
}

.gp-btn{
    border-radius: 10px;
    padding:10px;
    margin:10px;
    background-color: bisque;
}

.green-btn{
    border-radius: 10px;
    padding:20px;
    margin:10px;
    background-color: rgb(197, 227, 194);
    font-size: 20px;
    color: rgb(13, 126, 21);
    text-align: center;
}

.h1{
    font-size: 30px;
    padding: 10px;
}
.p-0{
padding:0px;
}

.m-0{
    margin: 0px;
}

.perces-ticket-body{
    padding-top: 30px;
    text-align: center;
}



.select-seat-left{
	flex: 60% ;
}
.select-seat-right{
	flex: 40%;
}
.select-seat{
	padding: 20px ;
	margin: 30px;
	border-radius: 20px;
	background-color: #cccccc;
	display: flex;
}
.abl-left{
	flex:60%;
}
.select-right{
	flex:40%;
}
.driver{
	background-color: #f1efef;
	padding: 10px;
	border-radius: 20px;

}
.text-right{
	text-align: right;

}
.m-y-20{
	margin:20px 0px;
}
.seat-number{
	display: flex;
}
.seat-number-left{
	flex: 60%;
}
.seat-number-right{
	flex: 40%;
}
.column-left-con{
	display: flex ;
}
.column-left-con-1{
	flex: 20%;
}
.column-left-con-2{
	flex: 40%;
}
.column-left-con-3{
	flex: 40%;
}
.seat-disigin{
	background-color:beige;
	padding: 20px;
	border-radius:10px;
	margin:20px 30px;
	text-align: center;
}
.seat-disigin-bg-green{
	background-color:green;
	padding: 20px;
	border-radius:10px;
	margin:20px 30px;
	text-align: center;
	color: aliceblue;
}

.colum-right-con{
	display: flex;
}
.column-right-con-1{
flex: 50%;
}
.column-right-con-2{
	flex: 50%;
}
.seat-price{
	display: flex;
}
.seat-price-left{
	flex: 33.3%;
}
.seat-price-center{
	flex: 33.3;
}
.seat-price-right{
	flex: 33.3;
}
.seat-price-con{
padding: 20px;
background-color: #f1efef;
border-radius: 10px;
margin:140px 20px 20px 20px;
}
.from{
	padding: 20px;
	width: 250px;
	border-radius: 15px;
}
.btn-bg-green{
	padding: 20px 20px;
	border: 2px solid green;
	border-radius: 10px;
	background-color: forestgreen;
	color: white;
	font-size: 20px;
}
.button-big{
	padding: 20px 20px;
	border: 2px solid green;
	border-radius: 15px;
	background-color: forestgreen;
	color: white;
	font-size: 20px;
	width: 300px;
	margin: 20px 0px;
}


.success-bar{
	background-color: #cce8c8;
	width:500px;
	height:auto;
	border-radius: 15px;
	padding:20px;
	text-align: center;
	margin: auto;
}

#success-bar{
	display: none;
}
.copy-right-bar{
	padding: 40px;
	margin: 40px;
	text-align: center;
	background-color:black;
	color: white;
}